/* Desktop/tablet Design (601px and up) */
@media only screen and (min-width: 601px) {
    p {
        font-size: clamp(14px, 1.8vw, 18px);
    }

    .article-section {
        text-align: left!important;
        padding: 0!important;
        margin: auto;
    }
    .article-content {
        width: 80%;
        margin: auto;
    }
    .contact-button {
        color: black;
        background-color: white;
        border-radius: 30px;
        padding: 0px 15px;
    }
    .contact-button:hover {
        background-color: rgba(255, 255, 255, 0.3) !important;
        color: white !important;
    }
    .desktop-flex {
        display: flex;
    }
    .mobile {
        display: none !important;
    }
    .navigation-menu {
        width: 100%;
        flex-direction: row;
        color: white;
    }
    .desktop-reverse-order {
        flex-direction: row-reverse;
    }
    .gallery-text {
        min-width: 300px;
        bottom: 42%;
        transform: translateX(-50%) translateY(100%);
    }
    .desktop {
        display: block;
    }

    #down-arrow-icon {
        bottom: 35%;
    }
    #testimonial-section {
        width: 85%;
        margin: 10vw auto;
    }
}